body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color:transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.bounceIn {
  -webkit-animation-name: bounceIn; 
  animation-name: bounceIn;
}

.bounceOut {
  -webkit-animation-name: bounceOut; 
  animation-name: bounceOut;
}

@keyframes bounceIn {
  0% { 
     opacity: 0; 
     transform: scale(.3);
  }
  50% { 
     opacity: .75;
     transform: scale(1.05);
  }
  70% {
     opacity: 1;
     transform: scale(.9);
  }
  100% {
     transform: scale(1);
  }
}

@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
    opacity: .75;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(.3);
  }
}